<p style="color: green"><%= notice %></p>

<%= paginate @alunos, theme: 'bootstrap-5' %>

<% content_for :title, "Alunos" %>

<h1>Alunos</h1>

<div id="alunos">
  <% @alunos.each do |aluno| %>
    <%= render aluno %>
    <p>
      <%= link_to "Mostrar esse aluno", aluno %>
    </p>
  <% end %>
</div>

<%= link_to "Novo aluno", new_aluno_path %>
