<div id="<%= dom_id emprestimo %>">
<p>
    <strong>ID do aluno:</strong>
    <%= emprestimo.id_aluno %>
  </p>

  <p>
    <strong>ID do livro:</strong>
    <%= emprestimo.id_livro %>
  </p>

  <p>
    <strong>Data do empréstimo:</strong>
    <%= emprestimo.data_empr %>
  </p>

  <p>
    <strong>Data de devolução:</strong>
    <%= emprestimo.data_devo %>
  </p>

  <p>
    <strong>Status - Foi devolvido?:</strong>
    <%= emprestimo.status%>
  </p>

</div>
