<div class="container text-center mt-4">
  <h1 class="display-4">Bem-vindo ao Sistema de Biblioteca!</h1>
  <p class="lead">Gerencie seus livros, empréstimos e alunos facilmente.</p>

  <!-- Botões de ação principais -->
  <div class="row justify-content-center my-3">
    <div class="col-md-3 mb-2">
      <a class="btn btn-primary btn-lg w-100" href="/livros" role="button">Ver Livros</a>
    </div>
    <div class="col-md-3 mb-2">
      <a class="btn btn-secondary btn-lg w-100" href="/alunos" role="button">Ver Alunos</a>
    </div>
    <div class="col-md-3 mb-2">
      <a class="btn btn-dark btn-lg w-100" href="/emprestimos" role="button">Ver Empréstimos</a>
    </div>
  </div>

  <!-- Botões de exportação -->
  <div class="row justify-content-center mt-4">
    <div class="col-md-4 mb-2">
      <%= link_to "Exportar Livros para CSV", export_csv_livros_path(resource: "livros", format: :csv), class: "btn btn-success w-100" %>
    </div>
    <div class="col-md-4 mb-2">
      <%= link_to "Exportar Alunos para CSV", export_csv_path(resource: "alunos", format: :csv), class: "btn btn-primary w-100" %>
    </div>
    <div class="col-md-4 mb-2">
      <%= link_to "Exportar Emprestimos para CSV", export_csv_emprestimos_path(resource: "emprestimos", format: :csv), class: "btn btn-dark w-100" %>
    </div>
  </div>

  <!-- Botões de logar/deslogar -->
  <div class="row justify-content-center mt-4">
    <div class="col-md-4 mb-2">
      <%= link_to "Deslogar", destroy_usuario_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-success w-100" %>
    </div>
    <div class="col-md-4 mb-2">
      <%= link_to "Editar login", edit_usuario_registration_path, class: "btn btn-primary w-100" %>
    </div>
  </div>

</div>
