<div id="<%= dom_id livro %>">
  <p>
    <strong>Titulo:</strong>
    <%= livro.titulo %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= livro.autor %>
  </p>

  <p>
    <strong>Ano publ:</strong>
    <%= livro.ano_publ %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= livro.quantidade %>
  </p>

</div>
