<p style="color: green"><%= notice %></p>

<%= paginate @livros, theme: 'bootstrap-5' %>

<%= render "import" %>

<% content_for :title, "Livros" %>

<h1>Livros</h1>

<div id="livros">
  <% @livros.each do |livro| %>
    <%= render livro %>
    <p>
      <%= link_to "Mostrar esse livro", livro %>
    </p>
  <% end %>
</div>

<%= link_to "Novo livro", new_livro_path %>
